@{
    ViewData["Title"] = "New Task";
}

@model TasksApp.Models.Tasks
@*New Tasks Page*@
<h1>Enter New Task:</h1>

@*Form for entering new task information*@
        @*[Key]
        [Required]
        public int TaskID { get; set; }
        [Required]
        public string TaskName { get; set; }
        public DateTime DueDate { get; set; } //need use String.Format("{0:MM/dd/yyyy}", dt); "03/09/2008"
        [Required]
        public int Quadrant { get; set; }
        public bool Completed { get; set; }
        //Build Foreign Key Relationship:
        [Required]
        public int CategoryID { get; set; }//Q*******I think this needs to be required but pls confirm****
        public Category Category { get; set; } //declare Category type named "Category"*@
<div>
    <form method="post">
        @*I added a hidden field for TaskID to edit the current task instead of adding a new task*@
        <input asp-for="TaskID" type="hidden" />

        <div asp-validation-summary="All"></div>

        <label asp-for="TaskName">Task Name:</label>
        <input asp-for="TaskName" /><br />


        <label asp-for="DueDate">Due Date:</label>
        <input asp-for="DueDate" /><br />


        <label asp-for="Quadrant">Quadrant:</label>
        <input asp-for="Quadrant" /><br />

        <label asp-for="Completed">Completed:</label>
        <input asp-for="Completed" /><br />

        <label asp-for="Category">Category:</label>
        <select asp-for="CategoryID">
            <option value="">Select a Category</option>
            @foreach (Category c in ViewBag.Categories)
            {
                <option value="@c.CategoryID">@c.CategoryName</option>
            }
        </select><br />

        <button type="submit">Create Task</button>
    </form>
</div>
